{% extends 'removal_list.html' %}
{% block heading %}
{% endblock %}

{% block nav %}
    <a href="{{ url_for('rem_employee') }}"><i class="fas fa-arrow-left fa-2x"></i></a>
{% endblock %}
{% block content %}
    <table class="table table-hover">
        <thead class="table-dark">
        <tr>
            {% for header in headings %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
        </thead>
        {% for emp in data %}
            <tr>
                <td> {{ emp.fname }}</td>
                <td> {{ emp.lname }} </td>
                <td> {{ emp.mobile }} </td>
                <td> {{ emp.email }} </td>
                <td>
                    <button type="button" class="btn btn-danger "><a
                            href="{{ url_for('delete_emp',id=emp.id) }}">Remove</a></button>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}