{% extends 'base.html' %}
{% block heading %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/employee.css') }}">
    <title>Employee entry page</title>
    <!-- Bootstrap DatePicker -->
    <script type="text/javascript">
        $(function () {
            $('#txtDate').datepicker({
                format: "dd/mm/yyyy"
            });
        });

    </script>

{% endblock %}

{% block content %}
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <h3 class="register-heading" style="color:#fff ">Employees data entry page</h3>
            </div>
            <div class="col-md-9 register-right">

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <h3 class="register-heading2">Enter Employee Data</h3>
                        <div class="row register-form">
                            <div class="col-md-6">
                                <form action="{{ url_for('add_employee') }}" method="POST">
                                    {{ form.hidden_tag() }}

                                    <p>
                                        {{ form.firstname.label }}
                                        {{ form.firstname(class="form-control") }}
                                        {% for error in form.firstname.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </p>

                                    <p>
                                        {{ form.lastname.label() }}
                                        {{ form.lastname(class="form-control") }}
                                        {% for error in form.lastname.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </p>

                                    <p>
                                        {{ form.DoB.label }}
                                        {{ form.DoB(class="form-control") }}
                                        {% for error in form.DoB.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </p>

                                    <p>
                                        {{ form.mobile.label }}
                                        {{ form.mobile(class="form-control") }}
                                        {% for error in form.mobile.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </p>

                                    <p>
                                        {{ form.emer_mobile.label }}
                                        {{ form.emer_mobile(class="form-control") }}
                                        {% for error in form.emer_mobile.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </p>

                                    <p>
                                        {{ form.email.label }}
                                        {{ form.email(class="form-control") }}
                                        {% for error in form.email.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </p>


                                    <p>
                                        {{ form.service_list.label }}
                                        {{ form.service_list(class="form-control") }}
                                        {% for error in form.service_list.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </p>

                                    <p>
                                        {{ form.gender.label }}<br>
                                        {{ form.gender(class="form-control") }}<br>
                                        {% for error in form.gender.errors %}
                                            <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </p>

                                    <p><a href="acknow.html">{{ form.submit(class="btnRegister") }}</a></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
