{% extends 'base.html' %}
{% block heading %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/rem_employee.css') }}">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'list.html') }}"> -->
    <title>Employee Remove page</title>

{% endblock %}

{% block content %}
    <div class="container register">
        <h3 class="register-heading">Employee Removal</h3>
    </div>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h3 class="register-heading2">Choose Service of Employee</h3>
            <div class="row register-form">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-12 ">
                                <div class="d-grid gap-5 d-md-flex justify-content-md-end">
                                    <button type="button" class="btnRegister"><a class="anchor"
                                                                                 href="{{ url_for('emp_list') }}">Electrician</a>
                                    </button>
                                    <button type="button" class="btnRegister"><a class="anchor"
                                                                                 href="{{ url_for('emp_list') }}">Plumber</a>
                                    </button>
                                    <button type="button" class="btnRegister"><a class="anchor"
                                                                                 href="{{ url_for('emp_list') }}">Carpenter</a>
                                    </button>
                                    <button type="button" class="btnRegister"><a class="anchor"
                                                                                 href="{{ url_for('emp_list') }}">Painter</a>
                                    </button>
                                    <button type="button" class="btnRegister"><a class="anchor"
                                                                                 href="{{ url_for('emp_list') }}">House
                                        keeper</a></button>
                                    <button type="button" class="btnRegister"><a class="anchor"
                                                                                 href="{{ url_for('emp_list') }}">Manager</a>
                                    </button>
                                    <button type="button" class="btnRegister"><a class="anchor"
                                                                                 href="{{ url_for('emp_list') }}">Marketing
                                        Executive</a></button>
                                    <button type="button" class="btnRegister"><a class="anchor"
                                                                                 href="{{ url_for('emp_list') }}">Owner</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
{% endblock %}
