{% extends 'base.html' %}
{% block heading %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/tenants.css') }}">

<!-- Bootstrap DatePicker -->
<script type="text/javascript">
  $(function() {
    $('#txtDate').datepicker({
      format: "dd/mm/yyyy"
    });
  });


</script>

<script type="text/javascript">
  $(function() {
    $('#txtDate2').datepicker({
      format: "dd/mm/yyyy"
    });
  });


</script>

<script>
  var subjectObject = {
    1: ['G1','G2','F1'],
    2: ['G1','G2','F1','F2','S1'],
    3: ['G1','G2','F1','F2','F3','S1']
  }
  function changecat(value) {
         if (value.length == 0) document.getElementById("houses").innerHTML = "<option></option>";
         else {
             var catOptions = "";
             for (categoryId in subjectObject[value]) {
                 catOptions += "<option>" + subjectObject[value][categoryId] + "</option>";
             }
             document.getElementById("houses").innerHTML = catOptions;
         }
     }


</script>


{% endblock %}

{% block content %}
<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <h3 class="register-heading" style="color:#fff ">Tenants data entry page</h3>
        </div>
        <div class="col-md-9 register-right">

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading2">Enter the data here</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="First Name *" value=""/>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Last Name *" value=""/>
                            </div>


                            <div class="form-group">
                                <input id="txtDate" type="text" class="form-control date-input"
                                       placeholder="Date of birth" readonly="readonly"/>

                            </div>


                            <div class="form-group">
                                <input type="text" name="country_code" class="form-control" title="Error Message"
                                       placeholder="Phone number" pattern="[1-9]{1}[0-9]{9}">
                            </div>

                            <div class="form-group">
                                <input type="text" name="country_code" class="form-control" title="Error Message"
                                       placeholder="Emergency Phone number" pattern="[1-9]{1}[0-9]{9}">
                            </div>

                            <legend>House Details</legend>

                            <!-- Text input-->
                            <div class="form-group">
                                <!-- <label class="col-sm-2 control-label" for="textinput">Line 1</label> -->

                                <select name="apt" id="apt" class="form-control" onchange="changecat(this.value);">
                                    <option value="">Apartment number</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>

                            </div>

                            <div class="form-group">

                                <select name="houses" id="houses" class="form-control">
                                    <option value="">House Number</option>
                                </select>

                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                <h4>Married</h4>
                                <div class="col-6">
                                    <input type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                                           value="flexRadioDefault1">
                                    <label for="flexRadioDefault1"> Yes</label>
                                    <input type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                                           value="flexRadioDefault2">
                                    <label for="flexRadioDefault2"> No</label>
                                </div>
                                <h5>If yes Enter spouse's phone number</h5>
                            </div>

                            <div class="form-group">
                                <input type="text" name="country_code" class="form-control" title="Error Message"
                                       placeholder="Phone number" pattern="[1-9]{1}[0-9]{9}">
                            </div>
                            <input type="submit" class="btnRegister" value="Add"/>
                        </div>
                    </div>
                </div>

            </div>
            {% endblock %}
