<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- font -->
    <link rel="stylesheet" href="C:\web development\Bootstrap-Installation\css\styles.css">

    <title>Employee Home Page</title>
  </head>
  <body>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>

    <section id="heading">
       <h1>Employee Home Page</h1>
    </section>


    <section id="add_data">
      <div class="row">
        <div class="col-lg-6">
          <h2>Add Data</h2>
          <div class="d-grid gap-5 d-md-flex justify-content-md-end">
          <button type="button" class="btn btn-success btn-lg">Transactions</button>
          <button type="button" class="btn btn-success btn-lg">Tenants</button>
          <button type="button" class="btn btn-success btn-lg">Houses</button>
          <button type="button" class="btn btn-success btn-lg">New Employees</button>
          </div>
        </div>
      </div>
    </section>

<section id="remove_data">
  <div class="row">
    <div class="col-lg-5">
      <h2>Remove Data</h2>
      <div class="d-grid gap-5 d-md-flex justify-content-md-end">
      <button type="button" class="btn btn-danger btn-lg">Employees</button>
      <button type="button" class="btn btn-danger btn-lg">Tenants</button>
      <button type="button" class="btn btn-danger btn-lg"><i class="fa fa-home" aria-hidden="true"></i>Houses</button>
      </div>
    </div>
  </div>
</section>

<section id="view_data">
  <div class="view">
    <button type="button" class="col-4 btn  btn-primary btn-lg">View Data</button>
  </div>
</section>




  </body>
</html>
