.heading{
  background-color: #FF7777;
}

.icfa{
  color: #8E0505;
  padding-right: 10px;
}
.btn{
  float: right;
  margin: 1% 10% 5% 0;
}

.anchor{
  color: #fff;
  text-decoration: none;
}
.anchor:hover{
  color: #F6F6F6;
}
