.register{
  padding-top: 50px;
}

.btnRegister{
    float: right;
    margin-top: 5%;
    margin-left: 5%;
    border: none;
    border-radius: 2.5rem;
    padding: 10px;
    background: #911F27;
    color: #fff;
    font-weight: 400;
    width: 10%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #CD113B;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #CD113B;
    border: 2px solid #CD113B;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 3rem;
    font-family: "Montserrat";
    font-weight: bold;
    color: #911F27;
}

.register-heading2{
    text-align: center;
    margin-top: 3%;
    margin-bottom: 2%;
    font-size: 2.5rem;
    color: #495057;
    font-family: "Montserrat";
    font-weight: normal;

}

.anchor{
  color: #fff;
  font-size: 1rem;
  margin-left: 10%;
  margin-right: 5%;
  width: 5%;

}
.anchor:hover{
  color: #C8C6C6;
  text-decoration: none;
}

.navbar{
  padding: 1%;
  background-color:#212121;
}
