.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}
.card-registration .select-arrow {
  top: 13px;
}
/* a{
  color: #000;
  text-decoration: none;
} */

.anchor{
  color: #fff;
  text-decoration: none;
}
.anchor:hover{
  color: #F6F6F6;
}
